  body {
      font-family: Arial, sans-serif;
      padding: 20px;
  }

  .main-container {
      max-width: 1200px;
      margin: 100px auto;
  }



  #quizOption li {
      padding: 40px;
      margin: 30px;
      background: #f0f0f0;
      cursor: pointer;
      border-radius: 5px;
      list-style: none;
      height: 30px;
      ;
  }

  #quizOption li.active-class {
      background: #90ee90;
      font-weight: bold;
  }

  #progressContainer {
      width: 100%;
      background: #eee;
      height: 20px;
      border-radius: 10px;
      margin-bottom: 20px;
  }

  #progressBar {
      height: 100%;
      width: 0%;
      background: green;
      border-radius: 10px;
      transition: width 0.3s ease;
  }

  #nextBtn {
      padding: 10px 20px;
      background-color: #3498db;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 20px;
  }

  #nextBtn:disabled {
      background-color: #95a5a6;
      cursor: not-allowed;
  }

  .active-class {
      background-color: #C8F7C5 !important;
  }

  .non-active {
      background-color: white;
  }

  #nextQuestion {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #3498DB;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
  }


  #resetQuiz {
      padding: 10px 20px;
      background-color: #aa0a0a;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 20px;
  }
